.btn {
  border-radius: 100vh;

}

.alert-success {
  background-color: #4caf4f70;
  color: black;
}

.nav-header {
  display: none !important;
}

.d-block {
  color: #e83e8c !important;
  font-weight: bold;
  text-transform: capitalize;
}

.fa-inverse {
  color: #e83e8c;
}

footer {
  display: none !important;
}

.dataTables_info {

  display: flex !important;

  gap: 25px;

}

#canvita2 {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-wrapper {
  background-color: #e83e8d13 !important;
}

.main-sidebar {
  /*background-color: #fd8fc213 !important;*/
}

.main-header {
  background-color: #fce9f2 !important;
}

.jazzmin-login-page {
  background-color: #fd8fc241 !important;
}

.login-box-msg {
  font-size: 24px !important;
}

.card-body {
  background-color: #ffebf41f !important;
  padding: 8px !important;
  margin: -6px !important;
}

span.small > a {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
}


input[type="checkbox"] {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  color: #fff;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  appearance: none;

  border-radius: 5px;

  background-position: -20px 0;

  background-size: 100%;
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
}

input[type=checkbox]:checked {
  background-color: #e83e8c;
  color: #e83e8c;
  background-position: 0 0;
}


.select2-selection__choice {
  background-color: #e83e8c !important;
  border-color: #e83e8c !important;
}

.btn-group> .btn {
  /* background-color: #e83e8c !important; */
  border-color: #e83e8c !important;
  color: #e83e8c !important;
}

.btn-group>.btn:hover {
  background-color: #e83e8c !important;
  border-color: #e83e8c !important;
  color: white !important;
}

.btn-group>.btn.active {
  background-color: #e83e8c !important;
  border-color: #e83e8c !important;
  color: white !important;
}

.errorlist {
  color: red;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 16px;
}

.btn-outline-primary {
  border-color: #e83e8c !important;
  color: #e83e8c !important;
}

.btn-outline-primary:hover {
  background-color: #e83e8c !important;
  border-color: #e83e8c !important;
  color: white !important;
}

/* image */
img {
  border-radius: 13px !important;
  margin: 4px !important;
  box-shadow: #e08db4a6 2px 2px 10px 0px !important;
  padding: .125rem !important;
}

img:hover {
  box-shadow: #e08db4a6 2px 2px 10px 0px !important;
  padding: .125rem !important;
  transform: scale(1.1);
  
}

/* container */

.content {
  padding: 4px !important;
}

.container-fluid {
  padding: 4px !important;
}

.card {
  overflow: hidden !important;
}

/* category controls */
#delete_id_category {
  display: none !important;
}

/* modal controls */
@media screen and (max-width: 768px) {
  .modal-dialog {
    margin: 0 !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 100vw !important;
  }
}


/* product variants */
.tab-content {
  padding: 0 !important;
}

/* input number */
input[type="number"] {
  width: 80px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.help-tooltip {
  height: 12px;
  width: 12px;
  padding: 0 !important;
  margin: 0;
}